#questionAndAnswer {
    margin: 50px auto; /* 上下に20px、左右は自動で中央揃え */
    font-size: 30px;   /* 適当なフォントサイズを設定 */
    text-align: center; /* 中央揃え */
  }

#question {
    font-size: 40px; /* 適当なフォントサイズを指定 */
  }
